# 1. 파일(csv, excel) 다루기

### 1. 파일 데이터 수집 및 저장 (csv)

In [1]:
# Pandas 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼명 변경
customerData.columns = ["custid","avgprice","emi",\
                        "devicecount","productage","cstype"]

# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", index=False)
customerData.head()

   custid     avgprice  emi  devicecount  productage            cstype
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

### 2. 파일 데이터 수집 및 저장 (excel)

In [2]:
# Pandas 패키지 불러오기
import pandas as pd
 
# 엑셀 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_excel("../dataset/customerdata.xlsx")

# 컬럼명 변경
customerData.columns = ["custid","avgprice","emi",\
                        "devicecount","productage","cstype"]
# 파일 저장
customerData.to_excel("../dataset/customerdata_out.xlsx", index=False)
customerData.head()

   custid     avgprice  emi  devicecount  productage            cstype
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

### 3. 파일 데이터 수집 및 저장 (한글)

In [3]:
# Pandas 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어올 때 encoding = “ms949” 옵션 정의
regionData = pd.read_csv("../dataset/kopo_region_mst_hangul.csv", \
                         encoding="ms949")
regionData.head(2)

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국

### 4. 파일 데이터 수집 및 저장 (웹)

In [4]:
# Pandas 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customerdata.csv")

# 컬럼명 변경
customerData.columns = ["custid","avgprice","emi",\
                        "devicecount","productage","cstype"]

customerData.head()

   custid     avgprice  emi  devicecount  productage            cstype
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

[실습] ../dataset 폴더 내 kopo_product_volume.csv 파일을
selloutdata 변수에 담으세요

In [5]:
# Pandas 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/kopo_product_volume.csv")

customerData.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467
4      A01       ST0001    201413  470040

# 2. 디렉토리 다루기

### 1. os 라이브러리

In [6]:
import os

In [7]:
root = "../dataset"
subdir = "csfolder"

fullpath = os.path.join(root, subdir)
fullpath

'../dataset\\csfolder'

In [8]:
fileNameList = os.listdir(fullpath)
fileNameList

['test', '북미.txt', '인도.txt', '중국.txt']

In [9]:
fullNamePath = os.path.join(fullpath, fileNameList[0])

In [10]:
fullNamePath

'../dataset\\csfolder\\test'

In [11]:
os.path.isdir(fullNamePath)

True

In [12]:
## 접근 디렉토리 정의
root="../dataset"
subdir = "csfolder"

# 파일존재 경로로 이동
targetPath = os.path.join(root,subdir)
# 파일 및 폴더목록 저장
fileNameList = os.listdir(fullpath)

# 파일 및 폴더길이 저장
fileNameLen = len(fileNameList)

for i in range(0, fileNameLen):
    fullNamePath = os.path.join(targetPath, fileNameList[i] )
    # 디렉토리가 아니면 데이터를 읽는다
    if os.path.isdir(fullNamePath) == False:
        print("파일명: {}".format(fullNamePath) )
    else:
        print("폴더명: {}".format(fullNamePath) )

폴더명: ../dataset\csfolder\test
파일명: ../dataset\csfolder\북미.txt
파일명: ../dataset\csfolder\인도.txt
파일명: ../dataset\csfolder\중국.txt

### 2. glob 라이브러리

In [13]:
from glob import glob

In [14]:
root = "../dataset"
subdir = "csfolder"
searchPattern = "*.txt"
#파일존재 경로로 이동
targetPattern = os.path.join(root,subdir, searchPattern)
#파일 및 폴더목록 저장
glob(targetPattern)

['../dataset\\csfolder\\북미.txt',
 '../dataset\\csfolder\\인도.txt',
 '../dataset\\csfolder\\중국.txt']

In [15]:
import pandas as pd
from glob import glob

## 접근 디렉토리 정의
root="../dataset"
subdir = "csfolder"
searchPattern = "*.txt"
# 파일존재 경로로 이동
targetPattern = os.path.join(root,subdir,searchPattern)
# 파일경로 저장
targetList = glob(targetPattern)

targetLen = len(targetList)
# 빈 데이터프레임 정의
FullDf = pd.DataFrame()
# 데이터를 하나씩 읽으며 병합
for i in range(0, targetLen):
    indata = pd.read_csv(targetList[i])
    FullDf = FullDf.append(indata)

### 3. pickle

In [16]:
import pickle

In [17]:
data450 = pd.read_csv("../dataset/kopo_450data.csv")

In [18]:
data450.shape

(4500000, 16)

In [19]:
### 피클 파일 저장하기 (바이너리) ###
with open("data450.pickle","wb") as fw:
    pickle.dump(data450,fw)

In [20]:
### 피클 파일 불러오기 (바이너리) ###
with open("data450.pickle","rb") as fr:
    data = pickle.load(fr)

In [21]:
data.head(2)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0

In [22]:
import pandas as pd

data450 = pd.read_csv("../dataset/kopo_450data.csv")

data450.shape

### 피클 파일 저장하기 (바이너리) ###
with open("data450.pickle","wb") as fw:
    pickle.dump(data450,fw)

### 피클 파일 불러오기 (바이너리) ###
with open("data450.pickle","rb") as fr:
    data = pickle.load(fr)

data.head(2)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0

### 4. shutil

In [23]:
import shutil

In [24]:
shutil.copy("data450.pickle", "data450_2.pickle")

'data450_2.pickle'

In [25]:
import shutil

# shutil.copy 메타정보 외 저장 예전날짜 적용
# shutil.copy2 메타정보 함께 저장 최근날짜 적용

shutil.copy("data450.pickle","data450_2.pickle")

# 디렉토리 삭제
# shutil.rmtree("./testdir/")

'data450_2.pickle'