# 1. 프로젝트 실습

### 데이터 불러오기

[데이터타입 통합]
kopo_channel_seasonality_new.csv 파일을 불러온 후
selloutData 변수에 담으세요 이후 
QTY컬럼→실수(float), 이외컬럼→문자(str)로 변경하세요

In [2]:
import pandas as pd

selloutData = \
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

selloutData = selloutData.astype({"REGIONID":str,
                    "PRODUCT":str,
                    "YEARWEEK":str,
                    "QTY":float})

### 1. 데이터 전처리

### A-1. 불량데이터 처리

[불량 데이터 처리]
kopo_channel_seasonality_new.csv 자료를 담은 
selloutData 변수에서
QTY컬럼 음수(반품)인 경우 0, 양수인 경우 기존 QTY 값유지하는 로직을 적용하여 QTY_NEW 컬럼을 추가하세요

In [28]:
### 함수정의: 판매량 데이터를 정제 (-값: 0, 이외 기존값)
### 파라미터 inQty: 실제 판매량
def cleanQty(inQty):

    # 테스트데이터: inQty
    # inQty = 500
    newQty = 0

    if inQty <= 0:
        newQty = 0
    else:
        newQty = inQty

    return newQty

selloutData["NEW_QTY"] = \
    selloutData.QTY.apply(cleanQty)

### A-2. 데이터 통합

[데이터 통합]
selloutData 자료에서 
YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인
데이터만 조회한 후 refinedSelloutData 변수에 담으세요 (YEAR, WEEK는 모두 str)

In [52]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

refinedSelloutData = selloutData.copy()

### B-3. 추세선 도출

[데이터 통합]
refinedSelloutData 자료에서 
YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인
데이터만 조회한 후 refinedSelloutData 변수에 담으세요 -> 53주차를 제거한다

1. refinedSelloutData 에서 →
지역, 상품, 연주차 컬럼순으로 오름차순 정렬하여
sortedData 변수에 담으세요

2. [지역, 상품, 연도 별 집계]
sortedData 에서 지역, 상품, 연도 단위
판매량(QTY_NEW) 의 평균 연산 후
groupData 변수에 담으세요 이후 컬럼명을 QTY_MEAN로 변경하세요

In [46]:
selloutData.loc[selloutData.WEEK.isnull()]

Empty DataFrame
Columns: [REGIONID, PRODUCT, YEARWEEK, QTY, NEW_QTY, YEAR, WEEK]
Index: []

In [48]:
selloutData.loc[selloutData.YEARWEEK == "201402", "WEEK"] =""

In [ ]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

In [45]:
selloutData.loc[selloutData.YEARWEEK.str.len() == 6]

       REGIONID    PRODUCT YEARWEEK      QTY  NEW_QTY  YEAR  WEEK
0           A60   PRODUCT4   201402     71.0     71.0  2014     2
1           A60  PRODUCT59   201402  22275.0  22275.0  2014     2
2           A60  PRODUCT34   201402   4463.0   4463.0  2014     2
3           A60  PRODUCT47   201402      0.0      0.0  2014     2
4           A60  PRODUCT56   201402     23.0     23.0  2014     2
...         ...        ...      ...      ...      ...   ...   ...
124653      A10  PRODUCT60   201630    824.0    824.0  2016    30
124654      A10  PRODUCT56   201630    275.0    275.0  2016    30
124655      A10  PRODUCT61   201630      0.0      0.0  2016    30
124656      A10  PRODUCT12   201630  15021.0  15021.0  2016    30
124657      A10   PRODUCT1   201630    568.0    568.0  2016    30

[124658 rows x 7 columns]

In [32]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6].astype(int)

In [31]:
selloutData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124658 entries, 0 to 124657
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REGIONID  124658 non-null  object
 1   PRODUCT   124658 non-null  object
 2   YEARWEEK  124658 non-null  object
 3   QTY       124658 non-null  float64
 4   NEW_QTY   124658 non-null  float64
 5   YEAR      124658 non-null  object
 6   WEEK      124658 non-null  object
dtypes: float64(2), object(5)
memory usage: 6.7+ MB

In [19]:
### 함수정의: 판매량 데이터를 정제 (-값: 0, 이외 기존값)
### 파라미터 inQty: 실제 판매량
def cleanQty(inQty):

    # 테스트데이터: inQty
    # inQty = 500
    newQty = 0

    if inQty <= 0:
        newQty = 0
    else:
        newQty = inQty

    return newQty

selloutData["NEW_QTY"] = \
    selloutData.QTY.apply(cleanQty)

In [27]:
selloutData.loc[ (selloutData.QTY > 0) &
                 (selloutData.NEW_QTY != selloutData.QTY) ]

Empty DataFrame
Columns: [REGIONID, PRODUCT, YEARWEEK, QTY, NEW_QTY]
Index: []