### 1. 리스트

In [6]:
inData = "SEC_201511_DV510_100"

In [14]:
inData[0:3]

'SEC'

In [7]:
delimiter = "_"

In [9]:
inList = inData.split(delimiter)

In [35]:
import pandas as pd

In [37]:
data1 = pd.read_csv("../dataset/pro_actual_sales.csv")

In [43]:
productList= list(data1.productSeg3)

In [45]:
productList = ["UN50EN001","UN50EN002","UN50EN003","UN50EN004"]

In [46]:
newProduct = "UN55EN001"

In [47]:
productList.append(newProduct)

In [49]:
productList[0] = "LEDTV_" + productList[0]

In [134]:
productList = ['LEDTV_UN50EN001', 'UN50EN002', 'UN50EN003', 'UN50EN004', 'UN55EN001']
productList[0] = "abc"
productList
productList[0:4]
type( inList )

In [51]:
## 집합연산

In [74]:
selloutList = ["100", "200", "300", "400", "500", "600"]

In [63]:
### 최소값과 최대값을 뺀 평균을구한다!

In [67]:
minValue = min(selloutList)
maxValue = max(selloutList)

In [68]:
selloutList.remove(minValue)
selloutList.remove(maxValue)

In [71]:
finalLen = len(selloutList)
finalSum = sum(selloutList)

In [72]:
answer = finalSum/finalLen

In [73]:
answer

350.0

In [64]:
sum(selloutList) / len(selloutList)

350.0

### 3. Pandas DataFrame

In [95]:
import pandas as pd

itemList = ["DB510","DB520","DB530"]
selloutList = [100, 250, 300]

finalDf = pd.DataFrame( zip(itemList,selloutList) )

In [97]:
finalDf.columns = ["ITEM","QTY"]

In [100]:
finalDf.to_csv( "./result.csv" )

# 형변환

In [124]:
yearweekValue = 202210

In [125]:
yearweekValue = str(yearweekValue)

In [126]:
type(yearweekValue)

str

In [120]:
yearValue = int( yearweekValue / 100 )

In [122]:
weekValue = yearweekValue % 100
weekValue

10

In [111]:
yearLen = 4

In [112]:
yearValue = yearweekValue[0:yearLen]

In [113]:
weekValue = yearweekValue[yearLen:]

In [114]:
weekValue

'10'

In [133]:
# 단일 리스트로 데이터프레임 만들기
itemList = ["DB510","DB520"]
itemDf = pd.DataFrame(itemList, columns = ["ITEM_NAME"])
itemDf

  ITEM_NAME
0     DB510
1     DB520

In [127]:
#클립보드 데이터 수집
clipData = pd.read_clipboard()