In [1]:
import pandas as pd

In [3]:
aa = pd.read_clipboard()

In [5]:
codeMappingColumns = ["NAME","STCODE"]

In [8]:
codeMappingData = aa.loc[:,codeMappingColumns]

In [10]:
codeMappingData.to_csv("./stcodeMapping.csv",encoding="ms949",index=False)

In [ ]:
generalColumns = ["STCODE"]

In [27]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
aa.columns

Index(['NAME', 'STCODE', 'GENDER', 'PF04', 'PF03', 'PF02', 'PF01'], dtype='object')

In [45]:
repColumns = ['NAME', 'STCODE', 'GENDER', 'LEC01', 'LEC02', 'LEC03', 'LEC04']

In [46]:
aa.columns = repColumns

In [47]:
generalScore = aa.loc[:,"STCODE":"LEC04"]

In [38]:
generalScore.to_csv("./encodedScore.csv",encoding="ms949",index=False)

In [29]:
aa.iloc[:,list(range(1,3))]

    STCODE GENDER
0   ST0001      M
1   ST0002      M
2   ST0003      F
3   ST0004      M
4   ST0005      M
5   ST0006      M
6   ST0007      M
7   ST0008      M
8   ST0009      M
9   ST0010      M
10  ST0011      M
11  ST0012      F
12  ST0013      F
13  ST0014      M
14  ST0015      F
15  ST0016      M
16  ST0017      F
17  ST0018      M
18  ST0019      F
19  ST0020      F
20  ST0021      F
21  ST0022      M
22  ST0023      F
23  ST0024      F
24  ST0025      M